h1{
    color: black;
    font-family:  cursive;
    font-style: normal;
    font-size: medium;
    
}
div{
    
    border-style: solid;
    border-radius: 2%;
    border-width: 1px;
}

body{
   
}

form{
    text-indent: 2%;
    
    
}